* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  min-width: 350px;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.footer__wrapper {
  text-align: center;
  color: #e5e5e5;
  font-weight: 700;
  font-size: 1.5em;
}
